/* Base styling */

button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: 600;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
}

/* Variants */

.button.primary {
    background-color: var(--color-black);
    color: var(--color-white);
}

.button.secondary {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    background-color: var(--color-white);
}

.button.tertiary {
    background-color: var(--color-transparent);
    color: var(--color-black);
}


/* Hover State */

.button.primary:hover:not(:disabled) {
    background-color: var(--color-gray-900);
}


.button.secondary:hover:not(:disabled) {
    background-color: var(--color-black);
    color: var(--color-white);
}


.button.tertiary:hover:not(:disabled) {
    background-color: var(--color-gray-100);
    color: var(--color-black);
}


/* Sizes */

/* Extra small */
.button.xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    gap: 0.25rem;
}

/* Small */
.button.sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    gap: 0.375rem;
}

/* Medium */
.button.md {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
}

/* Large */
.button.lg {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    gap: 0.5rem;
}


/* Disabled State */

.button:disabled {
    background-color:  var(--color-gray-200);
    color: var(--color-gray-400);
    border-color: var(--color-gray-200);
    cursor: not-allowed;
}

/* Focus state */

button:focus-visible:not(:disabled) {
    box-shadow: var(--focus-ring-shadow);
}


/* Loading spinner */

.button-loading-spinner {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--color-white-alpha-40);
    border-top-color: var(--color-black);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}