.storybook-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--color-gray-50);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Main Section */
.storybook-main-section {
    flex: 1;
}

.storybook-controls-button-container {
    width: 100%;
    padding: 1rem 2rem;
    text-align: end;
    border-bottom: 1px solid var(--color-gray-200);
    background-color: var(--color-white);
}

.storybook-component-preview {
    padding: 2rem;
    overflow-y: auto;
}