/* Sidebar */
.sidebar-container {
    width: 220px;
    background-color: var(--color-white);
    border-right: 1px solid var(--color-gray-200);
    padding: 1rem 0;
}

.sidebar-list {
    list-style: none;
}

/* Title */
.sidebar-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-gray-600);
    padding: 0.5rem 1.25rem 1.4rem;
}


/* List Item */
.sidebar-item {
    width: 100%;
    text-align: left;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray-700);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-active-item {
    background-color: var(--color-gray-50);
    color: var(--color-gray-800);
}

.sidebar-item:hover {
    background-color: var(--color-gray-150);
}
